<% @photos.each do |photo| %>
    <div class="card photo-form">
        <div class="card-block">
            <div class="img-container"><%= link_to photo, class: 'photo-link' do %>
                  <%= image_tag photo.image.url(:medium), class:"img" %>
            <% end %></div><br>
              
              <strong><%= photo.description %></strong><br>

              <%= link_to profile_path(photo.user_id) do %>
                  <i class="ion-person"></i> <%= photo.user.name %>
              <% end %><br>
        </div>
    </div>

<% end %>

<%= will_paginate @photos %>