<% @photos.each do |photo| %>
    <div class="card photo-form">
        <div class="card-block">
            <div class="img-container"><%= link_to photo, class: 'photo-link' do %>
                  <%= image_tag photo.image.url(:medium), class:"img" %>
            <% end %></div><br>
              
            <strong><%= photo.description %></strong><br>
            
            <%= link_to profile_path(photo.user_id) do %>
                  <i class="ion-person"></i> <%= photo.user.name %>
            <% end %>
              
            <% if photo.user == current_user %>
                <span class="pull-xs-right"><%= link_to edit_photo_path(photo) do %>
                    <i class="ion-edit"></i> <%= t('photos.edit') %>
                <% end %> |

                <%= link_to photo, method: :delete, data: { confirm: t('photos.are_you_sure') } do %>
                    <i class="ion-trash-b"></i> <%= t('photos.delete') %>
                <% end %></span>
            <% end %> 
        </div>
    </div>
<% end %>

<%= will_paginate @photos %>

