<div class="card photo-form">
	<div class="card-block">

				<%= image_tag @photo.image.url(:large) %><br>
				<strong> <%= @photo.description %></strong><br>

				<%= link_to profile_path(@photo.user_id) do %>
			          <i class="ion-person"></i> <%= @photo.user.name %>
			    <% end %>

                <span class="pull-xs-right"><%= link_to edit_photo_path(@photo) do %>
                    <i class="ion-edit"></i> <%= t('photos.edit') %>
                <% end %> |

                <%= link_to @photo, method: :delete, data: { confirm: t('photos.are_you_sure') } do %>
                    <i class="ion-trash-b"></i> <%= t('photos.delete') %>
                <% end %></span>

	</div>
</div>